Package: com.mzh.reverse
Name: iOSReverse
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: mozihen
Author: mozihen
Section: Tweaks
Version: 0.0.1-10+debug
Installed-Size: 200
